@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap');

// Custom color palette
$granat: #082333;
$czerwony: #BC1725;
$szary: rgba(255, 255, 255, 0.5);
$pageBackgroundColor: #FEFCFD;

$primary: $granat;
$danger: $czerwony;
// $background: $pageBackgroundColor;
$link: $granat;
// $link: $blue;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;


// Custom typography
$family-primary: 'League Spartan', sans-serif;
$weight-light: 300;

// Custom generic variables
$body-family: $family-primary;

body {
   $family-sans-serif: $body-family;
   $body-weight: $weight-light;
   background-color: $pageBackgroundColor;
}
