.cell1 {
    width: auto;
    text-transform: uppercase;
    margin: auto;
}

.cell2 {
    width: 15%;
    text-transform: uppercase;
    margin: auto;
}

.cell3 {
    width: 20%;
    text-transform: uppercase;
    margin: auto;
}
