.main_image {
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto;
}

.bottom_image {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 1rem .5rem;
}

.box {
    height: 605px;
    width: 540px; 
    position: relative;
    margin: 2.5rem auto;
}