.tab {
    margin: 10px;
    border: 2px solid #082333;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    background: #ffffff;
}
.tab:hover,
.tab:active{
    background: #eeeeee;
}