.card {
  width: 360px;
  background-color: 'inherit';
  border-radius: '16px';
  display: flexbox;
  justify-content: space-around;
  margin: auto;
  padding: 0;
}

.figure {
  position: relative;
  height: 360px;
  width: 360px;
  background-color: 'inherit';
  border-radius: '16px';
  cursor: pointer;
}
