.card {
    width: 220px;
    height: 150px;
    background-color: 'inherit';
    border-radius: '16px';
    justify-content: space-around;
    margin: 3em auto;
    padding: 0;

  }
  
  .figure {
    position: relative;
    height: 150px;
    width: 220px;
    background-color: 'inherit';
    border-radius: '16px';
    cursor: pointer;
  }
  