.box {
  width: 250px;
  height: 150px;
  border: 0.6px solid #082333;
  cursor: pointer;
}

.dark {
  background-color: #082333 !important;
  color: white !important;
  fill: white !important;
  stroke: white !important;
  border-color: white;
}

.light {
  color: #082333;
  fill: #082333;
  stroke: #082333;
}